/*put global css here*/
body, a {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #fcfcfc;
    color: #4d4d4d;
    font-smoothing: antialiased;
}

button {
    border: 0;
}

.content-wrapper {
    min-height: calc(100vh - 56px);
}